---
import fs from 'fs';
import path from 'path';

// Read JSON data at build time
const filePath = path.resolve('public/data/memory-cards.json');
const rawData = fs.readFileSync(filePath, 'utf-8');
const memoryCards = JSON.parse(rawData);
---

<table class="table" id="memoryTable">
    <thead class="table-header">
    <tr>
        <th>Price per GB</th>
        <th>Price</th>
        <th>Capacity</th>
        <th>Speed</th>
        <th>Ratings</th>
        <th>Affiliate Link</th>
    </tr>
    </thead>
    <tbody>
    {memoryCards.map((card) => (
            <tr data-capacity={card.capacity}
                data-speed={card.speed}
                data-price={card.price}
                data-brand={card.brand}
                data-technology={card.technology}>
                <td>${(card.price / card.capacity).toFixed(2)}</td>
                <td>${card.price.toFixed(2)}</td>
                <td>{card.capacity} GB</td>
                <td>{card.speed} Mhz</td>
                <td>{card.ratings}</td>
                <td><a href={card.affiliateLink} target="_blank">{card.name}</a></td>
            </tr>
    ))}
    </tbody>
</table>

<style>
    .table {
        border-spacing: 5px;
        padding-left: 10px
    }

    .table-header {
        display: table-header-group;
        vertical-align: middle;
    }

    .table-header th {
        text-align: left;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const selectFilters = document.querySelectorAll(".filter-checkbox");

        selectFilters.forEach(filter => {
            filter.addEventListener("change", function () {
                const filterId = filter.id;
                const filterValue = filter.checked;

                const tableRows = document.querySelectorAll("#memoryTable tbody tr");

                tableRows.forEach(row => {
                    const filterGroupName = filterId.split('-')[1];
                    const filterSelectedName = filterId.split('-')[2].toLowerCase();

                    console.log(row, filterGroupName);
                    const rowValue = row.getAttribute('data-' + filterGroupName);
                    const rowMatch = rowValue ? rowValue.toLowerCase() === filterSelectedName : false;
                    console.log(filterId, filterSelectedName, rowValue, rowMatch, filterValue);
                    if (rowMatch && !filterValue) {
                        row.style.display = 'none';
                    } else if (rowMatch && filterValue) {
                        row.style.display = '';
                    }
                });
            });
        });
    })
</script>
