---
import fs from 'fs';
import path from 'path';

// Read JSON data at build time
const filePath = path.resolve('public/data/memory-cards.json');
const rawData = fs.readFileSync(filePath, 'utf-8');
const memoryCards = JSON.parse(rawData).data;
const accentioAssociatesTag = 'accentiofinde-20';
---

{memoryCards.length > 0 ? (
<table class="table" id="memoryTable">
    <thead class="table-header">
    <tr>
        <th>Price per GB</th>
        <th>Price</th>
        <th>Capacity</th>
        <th>Speed</th>
        <th>Ratings</th>
        <th>Affiliate Link</th>
    </tr>
    </thead>
    <tbody>
    {memoryCards.map((card: any) => (
            <tr data-capacity={card.computer_memory_size}
                data-speed={card.memory_speed}
                data-price={card.price}
                data-brand={card.brand}
                data-technology={card.ram_memory_technology}
                data-compatibility={card.compatible_devices}
                data-type={card.computer_memory_type}
                data-stock={card.in_stock}
                data-condition={card.is_new ? 'new' : 'used'}>
                <td>{card.symbol}{(card.price && card.computer_memory_size ? (card.price / card.computer_memory_size).toFixed(2) : "0.00")}</td>
                <td>{card.symbol}{card.price ? card.price.toFixed(2) : "0.00"}</td>
                <td>{card.computer_memory_size ? card.computer_memory_size : 0} GB</td>
                <td>{card.memory_speed}</td>
                <td>{card.rating ? card.rating.toFixed(1) : "N/A"} ({card.ratings_total || 0})</td>
                <td><a href={`${card.url}&tag=${accentioAssociatesTag}`} target="_blank">{card.title}</a></td>
            </tr>
    ))}
    </tbody>
</table>
    ) : (
<div class="no-results">
    <p>No PC RAM Memory cards found! Please check back later.</p>
</div>
    )}

<style>
    .table {
        border-spacing: 5px;
        padding-left: 10px
    }

    .table-header {
        display: table-header-group;
        vertical-align: middle;
    }

    .table-header th {
        text-align: left;
    }

    .no-results {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        text-align: center;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const selectFilters = document.querySelectorAll(".filter-checkbox");
        const minPriceInput = document.getElementById("filter-price-min");
        const maxPriceInput = document.getElementById("filter-price-max");
        const minCapacityInput = document.getElementById("filter-capacity-min");
        const maxCapacityInput = document.getElementById("filter-capacity-max");

        function filterTable() {
            const tableRows = document.querySelectorAll("#memoryTable tbody tr");

            tableRows.forEach(row => {
                let rowVisible = true;

                selectFilters.forEach(filter => {
                    const filterId = filter.id;
                    const filterValue = (filter as HTMLInputElement).checked;
                    const filterGroupName = filterId.split('-')[1];
                    const filterSelectedName = filterId.split('-')[2].toLowerCase();
                    const rowValue = row.getAttribute('data-' + filterGroupName);
                    
                    // Special handling for condition filters
                    if (filterGroupName === 'condition') {
                        const rowCondition = rowValue?.toLowerCase() || '';
                        if (rowCondition === filterSelectedName && !filterValue) {
                            rowVisible = false;
                        }
                    } else {
                        const rowMatch = rowValue ? rowValue.toLowerCase() === filterSelectedName : false;
                        if (rowMatch && !filterValue) {
                            rowVisible = false;
                        }
                    }
                });

                const minPrice = parseFloat(minPriceInput.value) || 0;
                const maxPrice = parseFloat(maxPriceInput.value) || Infinity;
                const rowPrice = parseFloat(row.getAttribute('data-price'));

                const minCapacity = parseFloat(minCapacityInput.value) || 0;
                const maxCapacity = parseFloat(maxCapacityInput.value) || Infinity;
                const rowCapacity = parseFloat(row.getAttribute('data-capacity'));

                // Decide if a row should be visible or not, based on the filters.
                if (rowPrice < minPrice || rowPrice > maxPrice || rowCapacity < minCapacity || rowCapacity > maxCapacity) {
                    rowVisible = false;
                }

                (row as HTMLElement).style.display = rowVisible ? '' : 'none';
            });
        }

        // Attach event listeners for the checkboxes.
        selectFilters.forEach(filter => {
            filter.addEventListener("change", filterTable);
        });

        // Attach event listeners for the numeric inputs.
        minPriceInput.addEventListener("input", filterTable);
        maxPriceInput.addEventListener("input", filterTable);
        minCapacityInput.addEventListener("input", filterTable);
        maxCapacityInput.addEventListener("input", filterTable);
    });
</script>